<div  class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a routerLink="view-student-details" class="nav-link" class="btn btn-primary active" role="button" >View Student List in Table Format Components</a>
        </li>&nbsp;
        <li class="nav-item">
          <a  routerLink="view-student-details" class="nav-link" class="btn btn-primary active" role="button" >Add Student Details Component</a>
        </li>&nbsp;
        <li class="nav-item ">
          <a routerLink="view-student-details" class="nav-link" class="btn btn-primary active" role="button" >ListBoxPrimeng Component</a>
        </li>&nbsp;         
        <button type="button" class="btn btn-danger" data-dismiss="modal" [routerLink]="['/expansionPannel']">ExpansionPannel</button>
      </ul>
    </nav>   
      <router-outlet></router-outlet>
  </div>
  